*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}


/*************************************************************************/

.content{
    height: 100%;
    width: 100%;
}

.content-main{
    height:100%;
    width: 100%;
    position: relative;
}

/**************************************************************************/

.content-main--title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    margin: 0 auto;
}

.content-main--title h1{
    font-size: 60px;
    margin: 0;
}

.content-main--title h4{
    font-size: 20px;
    font-style: italic;
    margin:0;
}

/***************************************************************************/

.content-main--sessions{
    display: flex;
    position: absolute;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.content-main--sessions .session{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid grey;
}


/****************************************************************************/
.content-competitors{
    margin: 90px 15px 60px 15px;
}

/* .content-competitors--header{
} */

.content-competitors--board{
    margin-left: inherit;
    margin-right: inherit;
}

.competitor-container{
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.competitor-container p{
    margin-right: 10px;
    width: 150px;
}

.score-container{
    width: 100%;
}

.score-container .score-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: grey;
    height: 30px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.score-container .score-bar p{
    margin: 0 5px 0 0;
    width: fit-content;
    color: white;
}

.content-main--title.slide-in[data-time="0.9s"]{
    animation: slide-in-bottom 0.9s ease both;
    -webkit-animation: slide-in-bottom 0.9s ease both;
}

.session.slide-in[data-time="1.5s"]{
    animation: slide-in-bottom 1.5s ease both;
    -webkit-animation: slide-in-bottom 1.5s ease both;
}


@-webkit-keyframes slide-in-bottom{
    0%{
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }